#immagine{
    width: 10rem;
}
.my_liena_main{
    width: 10rem;
    height: 0.3rem;
    background-color: black;
    border-radius: 10px;
}
.immagine_card{
    width: 15rem;
    margin: 10px;
    border-radius: 20px;
}
.color_header{
   background-color: #2c3e50; 
}
.color_footer{
    background-color: #3b546c;
}
.color_footer_2{
    background-color: #2c3e50;
}

.color{
    background-color: #1abd9d;
}